@font-face {
	font-family: "Inter";
	src: url(../assets/Fonts/Inter-VariableFont_opsz\,wght.ttf);

	font-weight: 100 900; 
  	font-style: normal; 
  	font-display: swap; 
}
@font-face {
	font-family:"Neue-Montreal-bold" ;
	src: url(../assets//Fonts/Neue/PPNeueMontreal-Bold.otf);

	font-weight: 100 900; 
	font-style: normal; 
  	font-display: swap; 
}
@font-face {
	font-family:"Neue-Montreal-Medium" ;
	src: url(../assets/Fonts/Neue/PPNeueMontreal-Medium.otf);

	font-weight: 100 900; 
	font-style: normal; 
  	font-display: swap; 
}
@font-face {
	font-family:"Neue-Montreal-Book" ;
	src: url(../assets/Fonts/Neue/PPNeueMontreal-Book.otf);

	font-weight: 100 900; 
	font-style: normal; 
  	font-display: swap; 
}
@font-face {
	font-family: "Montserrat";
	src: url(../assets/Fonts/Montserrat-VariableFont_wght.ttf);

	font-weight: 100 900; 
	font-style: normal; 
  	font-display: swap; 
}

body{
	margin: 0;
	padding: 0;
}
:root{
	--text-black: #000;
	--text-orange: #FF9934;
	--text-Eerie-Black: #181818;
	--text-vibrant-orange: #FF7A00;
	--font-Inter: 'Inter', sans-seri;
	--font-Neue-bold: "Neue-Montreal-bold"; 
	--font-Neue-Book: "Neue-Montreal-Book";
	--font-Neue-Medium: "Neue-Montreal-Medium";
	--font-montserrat: "montserrat";
}
.inter{
	font-family: "Inter";
}
.neue-medium{
	font-family: var(--font-Neue-Medium);
}
.neue-regular{
	font-family: var(--font-Neue-Book);
}
.neue-bold{
	font-family: var(--font-Neue-bold);
}
.montserrat{
	font-family: var(--font-montserrat);
}

.font-70{
	font-size: 70px;
	line-height: 76px;
}
.font-50{
	font-size: 50px;
}
.font-40{
	font-size: 40px;
}
.font-32{
	font-size: 32px;
}
.font-30{
	font-size: 30px;
}
.font-28{
	font-size: 28px;
	line-height: 28px;
}
.font-26{
	font-size: 26px;
}
.font-22{
	font-size: 22px;
	line-height: 32px;
}
.font-20 {
	font-size: 20px;
}
.font-18{
	font-size: 18px;
}
.font-16{
	font-size: 16px;
}
.font-weight-800{
	font-weight: 800;
}
.font-weight-700{
	font-weight: 700 !important;
}
.font-weight-500{
	font-weight: 500;
}
.font-weight-600{
	font-weight: 600;
}
.z-index{
	z-index: 9;
	position: relative;
}
/*Navbar-css-start*/
	.navbar-menu {
		box-shadow: 0px 4px 14px 0px #0000000D;
		border-top: 3px solid #FF9934;
	}
	.navbar-menu .nav-item a.nav-link {
	    color: #000;
	    font-weight: 600;
	    font-size: 19px;
	    padding: 0 15px;
		font-family: var(--font-Inter);
	}
	.custom_btn_border {
	    border: 1px solid #138708;
	    border-radius: 8px;
	    padding: 6px 25px;
	    font-size: 17px;
	    font-weight: 600;
	    color: #138708;
		font-family: var(--font-Inter);
	}
	.custom_btn_BG {
	    border: 1px solid #138708;
	    background: #138708;
	    border-radius: 8px;
	    padding: 6px 25px;
	    font-size: 17px;
	    font-weight: 600;
	    color: #FFFFFF;
		font-family: var(--font-Inter);
	}

/* Banner section */
	.banner-section h1 {
	    font-size: 58px;
	    font-weight: 700;
	    line-height: 72px;
	    letter-spacing: 2px;
	    color: var(--text-black);
		font-family: var(--font-Neue-bold);
	}
	.banner-section p {
	    font-size: 30px;
	    font-weight: 500;
	    line-height: 48px;
	    color: #676767;
		font-family: var(--font-Neue-Medium);
	}
/* Telegrame section */
	.telegram-section h3 {
		font-family: var(--font-Neue-bold);
	}
	.telegram-section p{
		font-family: var(--font-Neue-Book);
	}
	.telegram-section{
		box-shadow: 0px 4px 33px 14px #CECECE40;
	}
	.text-orange {
		color: var(--text-orange);
	}

	.get-work h1 {
	    font-size: 42px;
	    font-weight: 700;
	    letter-spacing: 2px;
	    line-height: 44px;
		font-family: var(--font-Neue-bold);
	}
	.get-work-list h3 {
	    font-size: 24px;
	    letter-spacing: 1px;
	    font-weight: 600;
	    color: var(--text-Eerie-Black);
		font-family: var(--font-Neue-Medium);
	}
	.get-work-list p{
		color: var(--text-Eerie-Black);
		font-family: var(--font-Neue-Book);
	}	
	.icon-18 img {
	    width: 18px;
	}
	.great-work-inner h4{
		font-family: var(--font-Neue-Medium);
	}
	.overlay{
		position: relative;
	}
	.overlay:after {
	    content: "";
	    position: absolute;
	    left: 0;
	    top: 0;
	    height: 100%;
	    width: 100%;
		background: linear-gradient(0deg, rgba(0,0,0,0.8) 30%, rgba(0,0,0, 0.1) 90%)
	}
	.w-45 {
	    max-width: 45%;
	    width: 100%;
	}
	.img-after{
		position: relative;
	}
	.img-after:after {
		content: "";
	    background: url(web3.svg);
	    height: 100%;
	    width: 100%;
	    position: absolute;
	    bottom: -15px;
	    left: 0;
	    display: block;
	    background-repeat: no-repeat;
	    background-position: bottom;
	    background-size: contain;
	}

	.review-details {
	    border: 2px solid #138708;
	    padding: 25px;
	    border-radius: 32px;
	}
	.vibrant-orange{
		color: var(--text-vibrant-orange);
	}

	.overlay-black{
		background: linear-gradient(90deg, rgba(27, 27, 27, 0.8), rgba(25, 21, 21, 0.8));
	}

	.join-us-section {
		box-shadow: 0px 4px 33px 14px #CECECE40;
    }
    .join-us-title {
      color: var(--text-orange);
    }
    .join-us-subtitle {
      font-size: 1.5rem;
      font-weight: bold;
    }
    
    .join-us-buttons .btn {
      margin: 5px;
    }

/*  Footer Section  */
	.footer {
		background-color: #242D3F;
    }
    .footer .logo {
		font-size: 1.5rem;
		font-weight: bold;
		color: #f57c00;
    }
    
    .footer .social-links a {
      color: #fff;
      margin: 0 10px;
    }    
    .footer .footer-links {
      list-style: none;
      padding: 0;
    }
    .footer .footer-links li {
      margin: 10px 0;
    }
    .footer .footer-links a {
      color: #fff;
    }
    .footer .footer-links a:hover {
      text-decoration: underline;
    }
    .footer .copyright {
      text-align: center;
      margin-top: 20px;
      font-size: 0.9rem;
      color: #aaa;
    }
	.gap-2{
		gap: 20px;
	}


	@media(max-width: 1224px){
		.navbar-menu .nav-item a.nav-link{
			font-size: 14px;
		}
		.custom_btn_border, .custom_btn_BG{
			font-size: 16px;
		}
		.banner-section h1{
			font-size: 42px;
			line-height: 52px;
		}
		.banner-section p{
			font-size: 26px;
			line-height: 36px;
		}
		.font-70{
			font-size: 58px;
			line-height: 68px;
		}
		.font-50{
			font-size: 42px;
		}
	}
	@media (max-width: 1200px){
		.custom_btn_border, .custom_btn_BG{
			font-size: 14px;
		}
		.navbar-menu .nav-item a.nav-link{
			padding: 0 12px;
		}
	}
	@media (max-width: 1024px){
		.custom_btn_border, .custom_btn_BG{
			padding: 6px 20px;
		}
		.navbar-menu .nav-item a.nav-link{
			padding: 0 10px;
		}
	}
	@media (max-width: 991px){
		.custom-width {
			max-width: 900px;
		}
		.Faster-smarter-main .pl-0 {
			padding-left: 15px !important;
		}
	}
	@media(max-width: 767px){
		.m-xs-5{
			margin-bottom: 50px;
		}
		.pl-smaller{
			padding-left: 0 !important;
		}
		.d-xs-none{
			display: none;
		}
		.p-smaller{
			padding-top: 50px;
			padding-bottom: 50px;
		}
		.w-45{
			width: 100%;
			max-width: 100%;
		}
		.text-smaller-left{
			text-align: left !important;
		}
		.review-details{
			margin-bottom: 50px;
		}
		.testimonials .col-md-4:last-of-type .review-details{
			margin-bottom: 0;
		}
		.mb-smaller{
			margin-bottom: 30px;
		}
		.stories-bg {
			background-size: cover !important;
			background-position: center !important;
		}
	}
	@media (max-width: 480px){
		.font-28 {
			font-size: 20px;
			line-height: 22px;
		}
		.telegram-section{
			padding: 30px !important;
		}
		.font-70 {
			font-size: 42px;
			line-height: 52px;
		}
	}