.job_content_block.border-grey-radius{
    border-radius: 20px;
}
.search_content_job .seach_item i{
    top: 12px;
    left: 8px;
}
.search_content_job .seach_item input{
    padding: 6px 8px 6px 30px;
    border: 2px solid #ddd;
    border-radius: 8px;
}
.job_content_nav_tabbing button{
    background: inherit;
    border: 0;
    border-bottom: 2px solid transparent;
}
.job_content_nav_tabbing button.active{
    border-bottom: 2px solid #000;
    color: #000;
}
 button.job_poopup_btn {
    background: #fff;
    transform: rotate(90deg);
    border: 2px solid #ddd;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
button.job_poopup_btn i {
    font-size: 14px;
    color: #00B050;
}
.jop_popup_block{
    display: none;
}
.job_contract_block{
    border-bottom: 1px solid #ddd;
}
.job_contract_block:last-of-type{
    border-bottom: 0;
}
.job_contract_block .row {
    border-bottom: 1px solid lightgray;
}
.job_contract_block .row:hover {
    background: #f2f7f2;
    cursor: pointer;
}
.job_contract_block:hover h4 a{
    color: #00B050;
}
.view_more_btn a{
    border: 2px solid #00B050;
    padding: 8px 20px;
    border-radius: 20px;
}
.my_job_page .dropdown-toggle::after{
    display: none;
}
.my_job_page ul.dropdown-menu li a:hover{
    color: #000;
}
.my_job_page ul.dropdown-menu{
    width: 14rem;
    position: relative;
    box-shadow: 0 6px 12px rgba(57,73,76,0.25);
    margin-top: 15px !important;
    /* left: auto !important; */
    right: 8px !important;
}
.my_job_page ul.dropdown-menu:before{
    content: "";
    border: none;
    box-shadow: -2px 2px 3px rgba(57,73,76,.2);
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 1;
    background: linear-gradient(45deg,#fff,#fff 55%,transparent 0,transparent);
    transform: rotate(135deg);
    top: -8px;
    right: 10px;
}
.job_contract_block p{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.my_job_page ul.dropdown-menu[data-popper-placement="top-end"]:before{
    transform: rotate(315deg);
    bottom: -8px;
    right: 10px;
    top: inherit;
}
.my_job_page ul.dropdown-menu[data-popper-placement="top-end"]{
    margin-bottom: 15px !important;
}
.pending_contract .job_contract_block:hover {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}