@import 'default.scss';

.top-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .burger-menu-btn {
    position: absolute;
    display: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    background: none;
    transform: rotate(0deg);
    transition: 0.35s ease-in-out;
    left: auto;
    right: 0px;
    top: 8px;

    .burger-line {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      border: none;
      outline: none;
      opacity: 1;
      border-radius: 0.25rem;
      background: #000;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
    }

    .burger-line:nth-child(1) {
      top: 0;
    }

    .burger-line:nth-child(2),
    .burger-line:nth-child(3) {
      top: 0.5rem;
    }

    .burger-line:nth-child(4) {
      top: 1rem;
    }

    &.is-active .burger-line:nth-child(1),
    &.is-active .burger-line:nth-child(4) {
      top: 1.25rem;
      width: 0%;
      left: 50%;
    }

    &.is-active .burger-line:nth-child(2) {
      transform: rotate(45deg);
    }

    &.is-active .burger-line:nth-child(3) {
      transform: rotate(-45deg);
    }
  }

  .logo-box {
    width: 15%;
    flex-shrink: 0;
    flex-grow: 0;

    a {
      outline: none;
      display: inline-block;
    }
  }

  .nav-box {
    width: 80%;
    display: flex;

    ul {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      li {
        width: auto;
        font-size: 1.25em;
        font-weight: 600;

        a {
          width: auto;
          display: inline-block;
          padding: 1em;
          color: #000;
          transition: all ease 0.3s;

          &:hover {
            color: $Red;
          }

          &.active {
            color: $Red;
          }

          &.login-link {
            color: $mdLightGreen;
          }
        }
      }
    }
  }
}

.pos-header {
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 0 0 5px 0 #00000025;
  position: fixed;
  top: -100px;
  left: 0px;
  z-index: 1;
  transition: all ease 0.3s;

  .element-wrap {
    padding: 0.5em 2em;
  }

  &.sticky {
    top: 0px;
  }
}

.faq-screen {
  .web3-panel {
    padding: 0em 1em 0 1em;
  }

  .faq-panel {
    padding: 0em;
  }

  .main-banner-screen {
    padding: 0em 1em;
    border: none;
  }

  .faq-panel {
    margin-bottom: 2em;

    .faq-txt-blk {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 15%;

      h2 {
        color: #000000;
      }

      p {
        font-size: 1.25em;
        margin: 1em 0 1em 0;
        line-height: 1.75;
        color: #505050;
        display: inline-block;
        width: 100%;
        text-align: center;
      }
    }

    .faqs-list-blk {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0.5em 2em 2em;

      .faq-dtl-box {
        width: 100%;
        display: flex;
        background: #fff;
        transition: all ease 0.3s;
        flex-direction: column;
        border: 1px solid #eee;
        border-radius: 8px;
        margin: 8px 0;

        .faq-title-blk {
          width: 100%;
          display: inline-block;
          position: relative;
          padding: 16px 56px 16px 16px;
          cursor: pointer;

          h3 {
            font-size: 1.25em;
            color: #000;
            transition: all ease 0.3s;
            font-weight: 600;
          }

          .close-btn {
            width: 32px;
            height: 32px;
            position: absolute;
            left: auto;
            right: 12px;
            top: 12px;
            transition: all ease 0.3s;

            svg {
              width: 32px;
              height: 32px;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              fill: #000;
            }
          }

          &.active-tab {
            h3 {
              color: $Red;
            }

            .close-btn {
              transform: rotate(-45deg);

              svg {
                fill: $Red;
              }
            }
          }
        }

        .faq-content-blk {
          width: 100%;
          display: flex;
          padding: 8px 16px 16px;
          border-top: 1px solid #eee;
          flex-direction: column;

          p {
            font-size: 1.125em;
            margin: 4px 0;
            line-height: 1.5;
            color: #505050;
            display: inline-block;
            width: 100%;
            transition: all ease 0.3s;
          }
        }
      }
    }
  }

  .page-title-block {
    width: 100%;
    display: inline-block;
    background: #000;
    padding: 2em;

    h2 {
      color: #fff;
      text-align: left;

      span {
        color: $mdLightGreen;
      }
    }
  }
}

.element-content-grid {
  width: 100%;
  padding: 2em 1em;
  justify-content: space-between;
  display: flex;
  align-items: center;

  .col-item {
    width: 50%;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .elm-txt-blk {
    width: 100%;
    display: block;
    margin-bottom: 1em;

    h2 {
      color: #000;
    }

    p {
      font-size: 1.25em;
      margin: 12px 0;
      line-height: 1.75;
      color: #505050;
    }
  }

  .elm-img-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    .figure {
      width: 100%;
      display: inline-block;
    }
  }

  &.content-grid-rgt {
    .col-item {
      &:last-child {
        order: -1;
      }
    }
  }
}

.ftr-panel {
  background: #000000;
  position: relative;
  padding: 2.5em 2em 0;

  .ftr-layer-bg {
    width: 100%;
    height: 92px;
    position: absolute;
    left: 0;
    top: -36px;
    background: url(../images_2/layered-steps-bg.png) repeat-x;
  }

  .ftr-blk {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 3em 0 1em 0;

    .ftr-lft-col {
      width: 50%;
      flex-shrink: 0;
      flex-grow: 0;
      display: flex;
      flex-direction: column;
    }

    .ftr-logo {
      width: 43.333%;
      display: inline-block;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .ftr-rgt-col {
      width: 50%;
      flex-shrink: 0;
      flex-grow: 0;
      display: flex;
      flex-direction: column;
    }

    .ftr-nav-blk {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .ftr-nav {
        width: 33.333%;
        display: flex;
        flex-direction: column;
        padding: 0 1em;

        h3 {
          display: inline-block;
          width: 100%;
          font-size: 1.5em;
          color: $Red;
          font-family: 'Vidaloka', serif;
          margin-bottom: 0.5em;
        }

        ul {
          width: 100%;
          display: inline-block;

          li {
            display: inline-block;
            width: 100%;
            font-family: 'Roboto Slab', serif;
            padding: 0.5em 0;

            a {
              display: inline-block;
              color: #ccc;
              transition: all ease 0.3s;
              font-size: 1em;

              &:hover {
                color: #ffffff;
              }

              &:active {
                color: #ffffff;
              }
            }

            .social-nav {
              width: auto;
              display: flex;
              align-items: center;

              .social-icon {
                width: 24px;
                height: 24px;
                flex-shrink: 0;
                flex-grow: 0;
                margin-right: 16px;

                svg {
                  width: 24px;
                  height: auto;
                  fill: #ccc;
                  transition: all ease 0.3s;
                }
              }

              .social-title {}

              &:hover {
                .social-icon {
                  svg {
                    fill: #ffffff;
                  }
                }
              }

              &:active {
                .social-icon {
                  svg {
                    fill: #ffffff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .element-wrap {
    padding: 16px 0;
  }

  .main-banner-screen {
    padding: 1em;

    .banner-content {
      .titile-blk {
        p {
          font-size: 2.25em;
        }
      }

      .web3-imgbox {
        padding: 2em;
      }
    }
  }

  .top-header {
    .nav-box {
      ul {
        li {
          font-size: 1.125em;

          a {
            padding: 0.5em 1em;
          }
        }
      }
    }
  }

  .button-blk {
    .custom-btn {
      margin: 0em 1em 0em 0;
      padding: 0.5em 1em;
    }
  }

  .pos-header .element-wrap {
    padding: 0.5em 2em;
  }

  .element-panel {
    padding: 1em;
  }

  .element-content-grid {
    padding: 0px;

    .elm-txt-blk {
      p {
        font-size: 1em;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .body_overlay {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000000b3;
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    opacity: 0;
    transition: all ease 0.3s;

    &.open_overlay {
      display: block;
      opacity: 1;
    }
  }

  .element-wrap {
    padding: 0px;
  }

  .faq-screen {
    .main-banner-screen {
      padding: 1em 0;
    }

    .page-title-block {
      padding: 1.5em 1em;
    }

    .policy-txt-block {
      padding: 1em 1em 4em;

      h3 {
        font-size: 1.25em;
      }

      p {
        font-size: 0.875em;
      }
    }

    .faq-panel {
      .faqs-list-blk {
        padding: 0.5em 1em 1em 1em;

        .faq-dtl-box {
          .faq-title-blk {
            h3 {
              font-size: 1.125em;
            }
          }

          .faq-content-blk {
            p {
              font-size: 1em;
            }
          }
        }
      }
    }
  }

  .pos-header {
    .element-wrap {
      padding: 0.75em 1em;
    }
  }

  #sticky_header {
    &.pos-header {
      .top-header {
        .nav-box {
          display: none;
        }
      }
    }
  }

  .top-header {
    .burger-menu-btn {
      display: block;
      opacity: 1;
      visibility: visible;
      top: 12px;
    }

    .nav-box {
      position: fixed;
      background: #ffffff;
      left: auto;
      width: 65%;
      height: 100%;
      opacity: 0;
      flex-direction: column;
      position: fixed;
      top: 0px;
      right: -100%;
      transition: 0.5s;
      margin: 0 auto;
      border-left: 5px solid $mdLightGreen;
      overflow: hidden;
      z-index: 2;
      padding: 48px 0px 0;

      &.open-nav {
        right: -2px;
        opacity: 1;
      }

      #close-menu {
        &.burger-menu-btn {
          top: 20px;
          right: 12px;
        }
      }

      ul {
        width: 100%;
        flex-direction: column;
        display: flex;

        li {
          width: 100%;
          font-size: 1.125em;

          a {
            display: block;
            padding: 0.75em 1em;
          }
        }
      }
    }

    .logo-box {
      width: 150px;
    }
  }

  .button-blk {
    justify-content: center;

    .custom-btn {
      padding: 0.5em 1.25em;
      margin: 0px;
      text-align: center;
      font-size: 1.125em;
      width: auto;
    }
  }

  .element-panel {
    padding: 1em;

    h2 {
      font-size: 2em;
      text-align: center;
    }

    .elm-txt-blk {
      h2 {
        font-size: 2em;
        text-align: center;
      }

      p {
        font-size: 1em;
        margin: 8px 0;
        text-align: center;
        color: #181818;
      }
    }
  }

  .element-content-grid {
    padding: 1em 0;
    flex-direction: column;

    .col-item {
      width: 100%;
    }
  }

  .ftr-panel {
    .ftr-layer-bg {
      background-size: contain;
      height: 48px;
      top: -20px;
    }

    .ftr-blk {
      flex-direction: column;
      padding: 2em 0 0em;

      .ftr-lft-col {
        width: 100%;

        .ftr-logo {
          width: 100%;
          text-align: center;
          margin-top: 1.25em;

          img {
            max-width: 33%;
            height: auto;
          }
        }
      }

      .ftr-rgt-col {
        width: 100%;
        order: -1;
      }

      .ftr-nav-blk {
        padding: 0px;
        justify-content: space-between;

        .ftr-nav {
          padding: 0 8px;
          width: auto;

          h3 {
            font-size: 1.25em;
          }

          ul {
            li {
              a {
                font-size: 0.875em;
              }

              .social-nav {
                .social-icon {
                  width: 16px;
                  height: 16px;
                  margin-right: 8px;

                  svg {
                    width: 16px;
                    height: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 567px) {}